{% extends 'task/base.html' %}
{% block content %}
  {% if tasks %}
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <td><center>Items</center></td>
          <td><center>Done</center></td>
          <td><center>Delete</center></td>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          {% if task.is_completed %}
            <tr class="table-secondary">
              <td class="striker"><center><a href="{% url 'task-detail' task.id %}">{{ task.title }}</a></center></td>
              <td><center><a href="#">Uncross</a></center></td>
              <td><center><a href="#">Delete</a></center></td>
              <br/>
            <tr/>
          {% else %}
            <tr>
              <td><center><a href="{% url 'task-detail' task.id %}">{{ task.title }}</a></center></td>
              <td><center><a href="#">Cross off</a></center></td>
              <td><center><a href="#">Delete</a></center></td>
              <br/>
            <tr/>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>There is no task. Add an item!</h2>
  {% endif %}
{% endblock %}