{% extends 'task/base.html' %}
{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">
            <div class="mb-md-2 mt-md-2 pb-5">
              <h2 class="fw-bold mb-3 text-uppercase">Delete Item!</h2>
              <form method="POST">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ task }}"?</p>
                <button class="btn btn-outline-light px-4" type="submit" value="Delete">Delete</button>
                <div class="mt-md-5 text-center">
                  <a class="btn btn-primary" href="{% url 'task-home' %}">&#8592; back</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}